* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #1a1a1a;
  height: auto;
  width: auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  top: 10%;
  position: relative;
  display: block;
}
